<html>
  <body>
    <div>
      <a href="/new">New message</a>
      <% messages.forEach(message => { %> <%- include('./messages/message', {id:
      message.id ,text: message.text, user: message.user, added: message.added})
      %> <% }); %>
    </div>
  </body>
</html>
