<form action="/new" method="post">
  <label for="">Message <input type="text" name="messageText" /></label>
  <label for="">User <input type="text" name="userName" /></label>
  <button>Submit</button>
</form>
